[user]
        name = {{ git_name }}
        email = {{ git_email }}
[core]
        pager = delta --side-by-side --line-numbers
[alias]
        lol = log --decorate --pretty=oneline --abbrev-commit --color
        lolg = log --graph --decorate --pretty=oneline --abbrev-commit --all --color
        recent = log -5 --color --pretty=tformat:'%C(yellow)%h%Creset [%><(18)%cr] %C(white)%<(70,trunc)%s%Creset (%cn)'
        update = "!git stash; git pull --rebase; git stash apply"
        wipe = "!git reset --hard HEAD; git clean -fd"
        progress = commit -a --amend --reuse-message HEAD
        undo = reset HEAD^1
[credential]
        helper = cache
[init]
        defaultBranch = main
